# Configuração do Banco de Dados Neon PostgreSQL
# Obtenha sua Connection String no console da Neon (https://console.neon.tech)
# Exemplo: postgresql://geovanna:suasenha@ep-weathered-snow-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

# Porta do Servidor Web
PORT=3000
